@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Hind:wght@300;400;500;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-image: url("/img/1.png");
  color: rgba(24, 27, 29, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-i-header.is-open .w-i-header-background {
  left: 0;
}
.w-i-header-button-wrapper {
  margin-left: auto;
}
.w-i-header-icon {
  display: none;
}

.w-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-i-navigation-list.is-open {
  right: 0;
}
.w-i-header-icon-menu {
  display: block;
}

.w-i-header-icon-button.is-open .w-i-header-icon-menu {
  display: none;
}

.w-i-header-icon-button.is-open .w-i-header-icon-close {
  display: block;
}

.w-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.w-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.w-i-header.is-open .w-i-header-background {
  left: 0;
}
.w-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(255, 108, 44, 1);
  background: rgba(255, 255, 255, 1);
  padding: 18px 10px;
}

.w-i-header-icon-menu {
  display: block;
}

.w-i-header-icon-button.is-open .w-i-header-icon-menu {
  display: none;
}

.w-i-header-icon-button.is-open .w-i-header-icon-close {
  display: block;
}

.w-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 8px 8px;
  position: relative;
}

.w-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}
.w-i-policy-terms-header-icon-menu {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 20px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 108, 44, 1);
  text-decoration: none;
}
.w-i-navigation-list.is-open {
  right: 0;
}

.w-i-navigation-link {
  font-family: Hind;
  font-weight: 600;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 108, 44, 1);
}

.w-i-navigation-link:hover,
.w-i-navigatioт-link:focus {
  color: rgba(24, 27, 29, 1);
}

.w-i-header.is-open {
  background-color: transparent;
}

.w-i-navigation-img {
  display: none;
}

@media screen and (min-width: 1190px) {
  .w-i-navigation-img {
    display: flex;
  }
  .w-i-policy-terms-header-icon-menu {
    display: none;
  }

  .w-i-header {
    width: 100%;
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);

    border: 2px solid rgba(255, 108, 44, 1);
  }
  .w-i-header-button-wrapper {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 0px;
  }

  .w-i-header-background {
  }
  .w-i-header-icon-button {
    display: none;
  }
  .w-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-i-navigation-link {
    font-family: Hind;
    font-weight: 600;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    text-decoration: none;
  }
  .w-i-navigation-link-two {
    font-family: DynaPuff;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-right: 330px;
  }
  .w-i-navigation-item-desk {
    display: none;
  }
}
.w-i-home {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-i-home-container {
  border: 2px solid rgba(255, 108, 44, 1);

  width: 359px;
  margin: auto;
  margin: 0 8px;
  background: rgba(239, 234, 68, 1);
  display: flex;
  flex-direction: column;
}

.w-i-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 8px 24px;
}

.w-i-home-title {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 72px;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 108, 44, 1);
}

.w-i-home-text {
  font-family: Hind;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 108, 44, 1);
  padding: 24px 0;
}
.w-i-home-text-q {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 108, 44, 1);
}
.w-i-home-image {
  width: 356px;
  height: 275px;
}

@media screen and (min-width: 1190px) {
  .w-i-home-container {
    border: 2px solid rgba(255, 108, 44, 1);

    width: 1400px;
    margin: auto;
    margin: 0 20px;
    background: rgba(239, 234, 68, 1);
    display: flex;
    flex-direction: row-reverse;
  }

  .w-i-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 199px 64px 24px;
  }

  .w-i-home-title {
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 72px;
    line-height: 108%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 108, 44, 1);
  }

  .w-i-home-text {
    font-family: Hind;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 108, 44, 1);
    padding: 22px 0;
  }
  .w-i-home-text-q {
    font-family: Hind;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 108, 44, 1);
    width: 378px;
    margin: 0 auto;
  }
  .w-i-home-image {
    width: 700px;
    height: 700px;
    content: url("/img/image.png");
    border-right: 2px solid rgba(255, 108, 44, 1);
  }
}
.w-i-why {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-i-why-container {
  width: 359px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: rgba(255, 108, 44, 1);

  padding: 40px 8px;
}
.w-i-why-text-q {
  font-family: Hind;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0;
}
.w-i-why-text-w {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(112, 119, 126, 1);
}
.w-i-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.w-i-why-item {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 108, 44, 1);
}
.w-i-why-text-bold {
  background: rgba(255, 108, 44, 1);
  display: flex;
  justify-content: space-between;
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 26px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px;
}
.w-i-why-text-bold-q {
  border: 2px solid rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Hind;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 4px;
}
.w-i-why-text {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  height: 92px;
  padding: 24px;
}

@media screen and (min-width: 1190px) {
  .w-i-why-container {
    width: 1400px;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: rgba(255, 108, 44, 1);
    margin: 0 20px;
    padding: 100px 20px 60px;
  }

  .w-i-why-text-w {
    width: 253px;
    margin: auto;
  }
  .w-i-why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .w-i-why-item {
    width: 440px;
    height: 136px;
    border-width: 2px;
  }
  .w-i-why-text-bold {
    background: rgba(255, 108, 44, 1);
    display: flex;
    justify-content: space-between;
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 26px;
    line-height: 108%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding: 8px 16px;
  }
}

.w-i-uniqueness {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-i-uniqueness-container {
  width: 359px;
  margin: 0 8px;
  padding: 40px 8px 80px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: rgba(255, 108, 44, 1);
}
.w-i-uniqueness-q {
  font-family: Hind;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 32px;
}
.w-i-uniqueness-item {
  width: 311px;
  height: 344px;
  padding: 11px 12px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(24, 27, 29, 1);
  margin: 0 4px;
}
.w-i-uniqueness-text-bold {
  display: flex;
  justify-content: space-between;
  font-family: DynaPuff;
  font-weight: 500;
  font-size: 16px;
  line-height: 108%;
  letter-spacing: 0%;
  padding-bottom: 11px;
  align-items: center;
}
.w-i-uniqueness-text-bold-q {
  border: 2px solid rgba(24, 27, 29, 1);
  width: 24px;
  height: 24px;
  padding-top: 2px;
  font-family: Hind;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.w-i-uniqueness-text {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 12px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1190px) {
  .w-i-uniqueness-container {
    width: 1400px;
    margin: 0 20px;
    padding: 60px 20px 120px;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: rgba(255, 108, 44, 1);
  }
  .w-i-uniqueness-q {
    font-family: Hind;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 0 48px;
  }
  .w-i-uniqueness-item {
    margin: 0 10px;
  }
}

.w-i-about-title {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-i-features {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-i-features-container {
  width: 359px;
  margin: auto;
  margin: 0 8px;
}
.w-i-features-div {
  display: flex;
  flex-direction: column;
  background: rgba(255, 108, 44, 1);
  color: rgba(239, 234, 68, 1);
  padding: 40px 8px 80px;
}
.w-i-features-title {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.w-i-features-q {
  font-family: Hind;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0;
}
.w-i-features-w {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}
.w-i-features-text-bold {
  font-family: Hind;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}
.w-i-features-text-bold-q {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(239, 234, 68, 1);
  text-decoration: none;
}

.w-i-features-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(255, 255, 255, 1);
  padding: 40px 8px 80px;
  border: 2px solid rgba(255, 108, 44, 1);
}
.w-i-features-form-text {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 16px;
}
.w-i-features-input {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(24, 27, 29, 1);
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  padding: 16px;
}
.w-i-features-input:hover,
.w-i-features-input:focus {
  border: 2px solid rgba(255, 108, 44, 1);
}
.w-i-features-textarea {
  height: 216px;
}
.w-i-features-button {
  background: rgba(255, 108, 44, 1);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: none;
  font-family: Hind;
  font-weight: 600;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-top: 16px;
}
.w-i-features-button:hover {
  background: rgba(218, 77, 15, 1);
}
@media screen and (min-width: 1190px) {
  .w-i-features-container {
    width: 1400px;
    margin: auto;
    margin: 0 20px;
    display: flex;
  }
  .w-i-features-div {
    display: flex;
    flex-direction: column;
    background: rgba(255, 108, 44, 1);
    color: rgba(239, 234, 68, 1);
    padding: 100px 87px 80px;
    width: 700px;
  }
  .w-i-features-title {
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .w-i-features-form {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgba(255, 255, 255, 1);
    padding: 110px 20px 80px;
    border: 2px solid rgba(255, 108, 44, 1);
  }
}
.w-i-containers {
  display: flex;
  justify-content: center;
}
.w-i-container {
  padding: 90px 16px 24px;
  width: 359px;
  margin: auto;
  border: 2px solid rgba(255, 108, 44, 1);

  background: rgba(255, 255, 255, 1);
  margin: 0 8px;
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}

.w-i-container h1 {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 64px;
  line-height: 108%;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.w-i-container h2 {
  margin-top: 10px;
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.w-i-container h3 {
  margin-top: 10px;
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 26px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.w-i-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-i-container ul li {
  margin-bottom: 10px;
}
.w-i-container p {
  margin-top: 10px;
}
.w-i-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-i-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1190px) {
  .w-i-containers {
    margin: auto;
  }
  .w-i-container {
    padding: 146px 20px 100px;
    width: 1400px;
    margin: auto;
    margin: 0 20px;
    font-family: Hind;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .w-i-container h1 {
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 72px;
    line-height: 108%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .w-i-container h2 {
    margin-top: 20px;
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .w-i-container h3 {
    margin-top: 20px;
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 26px;
    line-height: 108%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .w-i-container ul {
    margin-top: 20px;
  }

  .w-i-container ul li {
    margin-bottom: 10px;
  }
  .w-i-container p {
    margin-top: 20px;
  }
}
.w-i-footer {
  display: flex;
  justify-content: center;
}
.w-i-footer-container {
  border: 2px solid rgba(255, 108, 44, 1);
  border-top: none;
  width: 359px;
  margin: 0 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-i-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background: rgba(239, 234, 68, 1);
  border: 2px solid rgba(255, 108, 44, 1);
  border-left: none;
  border-right: none;
  padding: 32px 0;
  width: 355px;
}

.w-i-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Hind;
  font-weight: 600;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 108, 44, 1);
}

.w-i-footer-copyright {
  padding: 32px 0;
  width: 355px;
  font-family: Hind;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  background: rgba(239, 234, 68, 1);

  color: rgba(255, 108, 44, 1);
}
.w-i-footer-title {
  color: rgba(255, 108, 44, 1);
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: rgba(243, 245, 246, 1);
}
@media screen and (min-width: 1190px) {
  .w-i-footer-container {
    width: 1400px;
    margin: 0 20px 20px;
  }
  .w-i-footer-div {
    display: flex;
    flex-direction: row-reverse;
  }
  .w-i-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    background: rgba(239, 234, 68, 1);
    border: 2px solid rgba(255, 108, 44, 1);
    border-left: none;
    border-right: none;
    padding: 64px 110px;
    width: 698px;
    border-bottom: none;
  }

  .w-i-footer-text {
    font-family: Hind;
    font-weight: 600;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .w-i-footer-copyright {
    padding: 64px 115px;
    width: 698px;
    font-family: Hind;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: 2px solid rgba(255, 108, 44, 1);
    border-left: none;
    border-bottom: none;
  }
  .w-i-footer-title {
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 1396px;
    padding: 11px 0;
  }
}

.w-i-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 108, 44, 1);
  z-index: 1000;
  display: none;
}
.w-i-cookie-popup-text {
  font-family: DynaPuff;
  font-weight: 600;
  font-size: 26px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-bottom: 8px;
  color: rgba(0, 42, 52, 1);
}
.w-i-cookie-popup-text-two {
  font-family: Hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(0, 42, 52, 1);
}

.w-i-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.w-i-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid rgba(255, 108, 44, 1);
  width: 167.5px;
  border-width: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Hind;
  font-weight: 600;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 108, 44, 1);
}

#accept-cookies {
  background: rgba(255, 108, 44, 1);
  color: rgba(255, 255, 255, 1);
}

.w-i-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1190px) {
  .w-i-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-i-cookie-popup-text {
    font-family: DynaPuff;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .w-i-cookie-popup-text-two {
    font-family: Hind;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;

    width: 840px;
  }
  .w-i-cookie-button {
    width: 173px;

    padding-top: 20px;

    padding-bottom: 20px;
    font-family: Hind;
    font-weight: 600;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .w-i-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .w-i-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
